<header>
    <h1>Pu Ngaol Mine Detection</h1>

    <a id="hamburger" href="#">
        <i class="fa-solid fa-bars"></i> 
    </a>

    <nav>
        <ul id="navbar">
            <li class="nav"><a href="index"><strong>Heatmap</strong></a></li>
            <li class="nav"><a href="info"><strong>Information</strong></a></li>
            <li class="nav"><a href="addpoint"><strong>Report Landmine</strong></a></li>
            
                
        </ul>
    </nav>
</header>